<header>
     
<div class="section">
        <a href="#">
        <span class="left"><i class="fa-solid fa-chevron-left"></i></span>
        <h5>Python Flow Control</h5>
        </a>
        <h1>Python Functions</h1>
        <a href="#">
        <h5>Python Datatypes</h5>
        <span class="righter"><i class="fa-solid fa-chevron-right"></i></span>
    </a>
    </div>
    <div class="lecture-header">
        <a href="#">
        <span class="left"><i class="fa-solid fa-circle-chevron-left"></i></span>
        <h2>Python Numbers</h2>
        <span class="righter"><i class="fa-solid fa-circle-chevron-right"></i></span>
        </a>
    </div>
</header>