<div class="aside-container">
         
            {# aside-bar #}
        <aside>
       
            <!-- icone au dessus de la partie aside -->
           
            <img src="https://cdn1.iconfinder.com/data/icons/lucid-arrows-and-directions/24/minimize_scale_down_resize_reduce_shrink-64.png">
            
            <!-- sections -->
           
            <ul class="list-description">
           <li> <a href="#" class="item"> <span>Introduction</span><i class="fa-solid fa-angle-right"></i></a></li>
           <li> <a href="#" class="item"><span> Learn Python Interactively</span><i class="fa-solid fa-angle-right"></i></a></li>
           <li> <a href="#" class="item"><span>Python Introduction</span><i class="fa-solid fa-angle-right"></i></a></li>
           <li> <a href="#" class="item"><span> Python flow Control</span><i class="fa-solid fa-angle-right"></i></a></li>
           <li> <a href="#" class="function">Python Functions<i class="fa-solid fa-award"></i></a>
            <!--lectures et contents-->
            <ul class="items-content">
                <li>
                <span class="python-detail actif">
                    <i class="fa-regular fa-circle-check"></i>
                    <a href="#">Python numbers</a>
                </span>
                    <span class="list-icons">
                        <i class="fa-solid fa-circle-play "></i>
                        <i class="fa-regular fa-file-lines "></i>
                        <i class="fa-regular fa-circle-question "></i>
                    </span>
                </li>
                <li>
                    <span class="python-detail gris">
                        <i class="fa-regular fa-circle-check"></i>
                        <a href="#" class="non-actif">Python list</a>
                    </span>
                    <span class="list-icons">
                    <i class="fa-regular fa-image "></i>
                    <i class="fa-regular fa-file-lines "></i>
                    <i class="fa-regular fa-circle-question "></i>
                </span>
                </li>
                <li>
                    <span class="python-detail gris">
                    <i class="fa-regular fa-circle-check"></i>
                    <a href="#" class="non-actif">Python tuple</a>
                </span>
                    <span class="list-icons">
                        <i class="fa-solid fa-circle-play "></i>
                        <i class="fa-regular fa-file-lines "></i>
                        <i class="fa-regular fa-circle-question "></i>
                    </span>
                </li>
                <li>
                    <span class="python-detail gris">
                    <i class="fa-regular fa-circle-check"></i>
                    <a href="#" class="non-actif">Python string</a>
                </span>
                <span class="list-icons">
                    <i class="fa-regular fa-image "></i>
                    <i class="fa-regular fa-file-lines "></i>
                    <i class="fa-regular fa-circle-question "></i>
                </span>
                </li>
                </ul>
                </li>
           <!-- sections closed-->
           
                <li class="closed">
                 
                    <a href="#">
                       <span class="item-closed"> python datatypes
                        <i class="fa-solid fa-award black"></i></span>
                        <span><i class="fa-solid fa-lock"></i></span>
                        <span><i class="fa-solid fa-angle-right right"></i></span>
                    </a>
                </li>
               
                <li class="closed">
                
                    <a href="#">
                        <span class="item-closed"> Python files</span>
                        <span><i class="fa-solid fa-lock lock"></i></span>
                        <span><i class="fa-solid fa-angle-right right"></i></span> 
                    </a>
                </li>
                <li class="closed">
                    <a href="#">
                       <span class="item-closed"> python conclusion </span>
                        <span><i class="fa-solid fa-lock "></i></span>
                       <span> <i class="fa-solid fa-angle-right right"></i></span>
                    </a>
                   
                </li>
               
            </ul>
    
       </aside>
       </div>
       <!-- end coding la partie aside  -->